[submodule "lib/octant-v2-core"]
	path = lib/octant-v2-core
	url = https://github.com/golemfoundation/octant-v2-core
[submodule "lib/tokenized-strategy-periphery"]
	path = lib/tokenized-strategy-periphery
	url = https://github.com/golemfoundation/tokenized-strategy-periphery
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/swap-router-contracts"]
	path = lib/swap-router-contracts
	url = https://github.com/Uniswap/swap-router-contracts
